{% extends "base.html" %}
{% block content %}
    <!-- Main content container-->
        <div class="row splash">
            <div class="col-1 bg-orange"></div>
            <div class="col-11 bg-beige h-100 splash-content">
                <div class="row h-100 p-5">
                    <div class="col-9 bg-teal h-100 splash-box"></div>
                    <div class="col-3">
                        <div class="row h-100">
                            <div class="col-12 bg-teal splash-box">
                            </div>
                            <div class="col-12 bg-teal splash-box">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}