{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_product' %}">Add Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'update_product' %}">Update Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_event' %}">Add Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'update_event' %}">Update Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'site_ctrl' %}">Site Controls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_mgmt' %}">User Management</a>
            </li>
        </ul>
    </div>

    <div class="col-10 px-5">
        {% block cheese %}
        {% endblock %}
    </div>
</div>
{% endblock %}