/* ---------------------------------- splash page styling */
body {
    background-color: #F4A127
}


.splash {
    height:82vh;
}

.splash-content {
    border-radius: 100px 0 0 100px;
    border: #5A3D2B solid 20px;
    border-right:none;
}

.splash-box {
    border-radius: 100px;
    filter: 
        drop-shadow(10px 10px 0px #ff87a3)
        drop-shadow(10px 10px 0px #db6c4e) 
        drop-shadow(10px 10px 0px #e05155) 
}

#carousel-main {
    border-radius: 100px;
}

.carousel-img {
    border-radius: 100px;
    filter: drop-shadow(1px 1px 3px black);
}

.carousel-caption {
    background-color: rgba(0,0,0,0.6);
    border-radius: 100px;
}
