html {
    background-color: white;
}
body {
    min-height: 100vh;
    background-color: #F4A127;
    height: auto;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 70px;
    right: 12px;
    z-index: 999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

/* -------------------------------- background colors */
.bg-dorange {
    background-color: #CA6702
}

.bg-orange {
    background-color: #F4A127
}

.bg-beige {
    background-color: #FFECB4
}

.bg-teal {
    background-color: #75C8AE
}

/* ------------------------------- Universal styling */
.content {
    border-radius: 100px 0 0 100px;
    border: #5A3D2B solid 20px;
    border-right:none;
}

.remove-item, .update-link {
    cursor: pointer;
}