html {
    background: green;
}

* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 70px;
    right: 12px;
    z-index: 999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

