{% load static %}
<div class="">
    <nav class="navbar navbar-expand-lg navbar-light px-5">
        <a class="navbar-brand" href="{% url 'home' %}">Tinibell</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class=" nav-link" href="{% url 'products' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events' %}">Events</a>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'account_login' %}">Login</a>
                </li>

                <li class="nav-item" onmouseover="highlight(this)">
                    <a class="nav-item nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
                {% endif %}

                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'add_product' %}">Big Cheese</a>
                </li>
                {% endif %}
            </ul>
        </div>


        <!-- <a class="{% if total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i>
            <p class="my-0">
                {% if total %}
                    ${{ total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
    </a> -->
    </nav>

</div>